.toolbox-dropdown-menu {
	position:absolute;
	top:22px;
	z-index:1000;
	display:none;
	width:320px;
	padding:10px;
	margin:7px 0 0;
	list-style:none;
	font-size:13px;
	text-align:left;
	background-color:#fff;
	box-shadow:0 6px 12px rgba(0, 0, 0, .175);
}
#toolboxUl {
	font-weight:400;
	line-height:1.8;
	color:#333;
	white-space:nowrap;
}
.tbLegend{
	float:left;
	width:4px;
	height:13px;
	border-radius:5px;
	margin:3px 5px 0 0;
}
.ToolboxMeasurementTool {
	position: absolute;
	padding: 3px;
	border: 3px solid #333;
	border-color: #59899e;
	height: 180px;
	width: 250px;
	overflow: hidden;
	font-weight: normal;
	background-color: white;
	border-radius: 10px;
	visibility: hidden;
}
.ToolboxMeasurementTool .header{
	margin: 0px 0px 3px 0px;
	height: 35px;
	line-height: 21px;
	background-position: center center;
	background-color: #bedce5;
	color: #59899e;
	border-radius: 5px;
	font-weight: normal;
	font-size: 16px;
	padding: 7px 0px 5px 7px;
}
#WMETB_NavBarSpan{
	float:left;
	width:78px;
	height:20px;
	font-size:13px;
	text-align:center;
	padding-top:2px;
	font-weight:bold;
}
#WMETB_NavBarSpanVert{
	width:60px;
	height:26px;
	font-size:13px;
	font-weight:bold;
	position:absolute;
	left:0;
	text-align:center;
	padding-top:3px;
	background-color:#cacaca;
	border-left: 1px solid #8d8d8d;
	transform-origin: top left;
	list-style-type: none;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.WMETBtooltip{
	float:left;
	width:26px;
	height:22px;
	padding:1px 3px;
	border-left: 1px solid #8d8d8d;
}
.WMETBdashboard{
	border-bottom: 1px solid #8d8d8d;
}